.navbar-box {
    width: 200px;
    height: 236px;
    flex-shrink: 0;
    padding: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 28px;
    background: rgba(0, 0, 0, 0.22);
    height: 23%;
    margin-left: 20%;
    margin-top: 10%;
}

.navbar-button {
    cursor: pointer;
    padding: 12px 20px;
    margin: 5px 0;
    border-radius: 28px;
    transition: background-color 0.3s;
}

.navbar-button:hover {
    background-color: grey;
}