.navbar-box {
    width: 200px;
    flex-shrink: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 28px;
    background: rgba(0, 0, 0, 0.22);
    margin-left: 10%;
    margin-top: 10%;
}

.navbar-button {
    cursor: pointer;
    padding: 12px 20px;
    margin: 5px 0;
    border-radius: 28px;
    transition: background-color 0.3s;
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.navbar-button:hover {
    color: #406cee;
    transition: color 0.1s;
}

.active {
    color: #406cee;
}