.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.country-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
}

.modal-content {
  padding: 20px;
  background: rgb(61, 59, 59);
  border-radius: 5px;
  position: relative;
  z-index: 11;
  width: 500px;
  height: 80%;
}

.tableCell {
  padding-right: 8px;
  /* or any value that suits your needs */
  padding-left: 8px;
  /* or any value that suits your needs */
}

.hide-label.MuiInputLabel-root.Mui-focused,
.hide-label.MuiInputLabel-root {
  display: none;
}