body {
  margin: 0;
  padding: 0;
  background-color: #212529;
}

.App {
  text-align: center;

}

@media screen and (min-width: 2062px) {
  .navbar {
      left: 0;
      margin-right: 220px; 
  }

  .sections {
      margin-left: 600px; 
  }
}
